@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Lagat och Klart<br />
    Adress här<br />
    <abbr title="Phone">P:</abbr>
    Telefon
</address>

<address>
    <strong>Support:</strong>   <a href="">Support@lagat.se</a><br />
    <strong>Marknadsföring:</strong> <a href="">Marketing@lagat.se</a>
</address>