@{
    ViewBag.Title = "Lagat & Klart";
}


<div>

    <style>

        body {
            text-align: center;
        }

        img {
            min-width: 100%;
            min-height: 100%
        }
    </style>
    <img src="~/logos/logo5.jpg" />


    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Boka tid</h2>

        <p><a class="btn btn-default" href="https://www.kalender.se/">Boka här</a></p>
    </div>

    <div class="col-md-4">
        <h2>Reparationsstatus</h2>

        <form action="~/Case/GetByGuid/" method="get">
            <input type="text" name="guidString" id="guidString" placeholder="Ange referens"/>
            <input type="submit" value="Sök" class="btn btn-default"/>
        </form>

    </div>

</div>

